extends layout

block content
  .index-cats-container
    .index-header-container
      .index-header-position= 'Position'
      .index-header-image= 'Image'
      .index-header-score= 'Score'
    hr.index-cats-separator

    -var index = 0
    each cat in cats
      .index-cat-container
        .index-cat-position= index++ + 1
        .index-cat-picture-container
          img.index-cat-picture(src="#{cat.url}")
        .index-cat-score= cat.score || '0'
      hr.index-cats-separator
