doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      a(href='/')
        h1.main-title= title
      .nav-container
        a.nav-link(href='/') Accueil
        a.nav-link(href='/classement') Classement

    block content

    script(type="text/javascript", src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type="text/javascript", src="/javascripts/script.js")
