html,
body {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  height: 50px;
  background-color: lightgrey;
  padding: 15px 30px 0;
  display: flex;
  align-items: baseline;
}

.main-title {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  color: black;
}

.nav-container {
  display: inline-block;
}

.nav-link {
  margin-left: 20px;
  color: dimgray;
  text-decoration: none;
  font-size: 1.2em;
}

.cats-container {
  height: calc(100% - 65px);
  display: flex;
  align-content: center;
}

.cat-container {
  display: flex;
  width: 50%;
}

.cat-picture {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  cursor: pointer;
}

.index-cats-container {
  width: 60%;
  margin: 30px auto;
}

.index-header-container {
  margin-bottom: 10px;
  font-size: 1em;
  text-align: center;
  color: dimgray;
}

.index-header-position {
  display: inline-block;
  width: 100px;
}

.index-header-image {
  display: inline-block;
  width: 400px;
}

.index-header-score {
  display: inline-block;
  width: calc(100% - 500px);
}

.index-cats-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lightgray;
  margin: 0;
  padding: 0;
}

.index-cat-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.index-cat-position {
  width: 100px;
  min-width: 100px;
  font-size: 1.2em;
  color: dimgray;
  display: inline-block;
  text-align: center;
}

.index-cat-picture {
  width: 400px;
}

.index-cat-score {
  width: calc(100% - 400px);
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
}
